<div class="categories">
  <div
    class="category"
    style="
      background: url(https://cdn.shopify.com/s/files/1/0549/9463/2764/files/89835339-1bdb-433a-b914-69a8866ae788.jpg?v=1637042131);
    "
  >
    <div class="category_content">
      <h1 class="text_header">ORGANICALLY GROWN SPICES</h1>
      <p class="text_desctiption">
        Our range of spices encompasses everything from Turmeric to Red Chilli
        Powder, all organically grown with health benefits.
      </p>
      <div class="button_div_shopNow">
        <a href="/collections/organic-spices"
          ><button class="shopNow">SHOP NOW</button></a
        >
      </div>
    </div>
  </div>

  <div
    class="category"
    style="
      background: url(https://cdn.shopify.com/s/files/1/0549/9463/2764/files/d4442b70-9182-489d-93eb-d18410e66589.jpg?v=1637047891);
    "
  >
    <div class="category_content">
      <h1 class="text_header">A2 Ghee</h1>
      <p class="text_desctiption">
        Prepared by Bilona method making it healthy for heart
      </p>
      <div class="button_div_shopNow">
        <a href="/products/gir-cow-a2-ghee">
          <button class="shopNow">SHOP NOW</button></a
        >
      </div>
    </div>
  </div>

  <div
    class="category"
    style="
      background: url(https://cdn.shopify.com/s/files/1/0549/9463/2764/files/a6b0970b-8a55-4644-a17c-6344b7bf1318.jpg?v=1637047808);
    "
  >
    <div class="category_content">
      <h1 class="text_header">Jaggery</h1>
      <p class="text_desctiption">
        Giving your immunity a boost-Grown organically
      </p>

      <div class="button_div_shopNow">
        <a href="/products/organic-jaggery-whole">
          <button class="shopNow">SHOP NOW</button>
        </a>
      </div>
    </div>
  </div>

  <div class="category">
    <div class="category_selection_row">
      <a href="/collections/spices" class="cat__link__anchor">
        <p class="cat_icon">>></p>
        <p class="cat_text">Spices</p>
      </a>
    </div>

    <div class="category_selection_row">
      <a href="/collections/jaggery" class="cat__link__anchor">
        <p class="cat_icon">>></p>
        <p class="cat_text">Jaggery</p>
      </a>
    </div>

    <div class="category_selection_row">
      <a href="/collections/a2-ghee" class="cat__link__anchor">
        <p class="cat_icon">>></p>
        <p class="cat_text">A2 Ghee</p>
      </a>
    </div>

    <div class="category_selection_row">
      <a href="/collections/pulses" class="cat__link__anchor">
        <p class="cat_icon">>></p>
        <p class="cat_text">Pulses</p>
      </a>
    </div>
  </div>
</div>

<style>
  .text-link,
  a {
    color: #ffffff;
    text-decoration: none;
    background: 0 0;
  }

  .text-link,
  a:hover {
    color: #ffffff;
    text-decoration: none;
    background: 0 0;
  }
  .cat__link__anchor {
    color: #191a1a;
    text-decoration: none;
    background: 0 0;
    display: flex;
    gap: 11px;
  }
  .categories {
    margin: 0 auto !important;
    width: 73%;

    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 40px !important;
    flex-wrap: wrap;
  }

  .category {
    width: 47%;
    min-height: 311px;
    padding: 10px;
    margin-bottom: 72px;
    position: relative;
    background-size: cover !important;
    background: #f8f9f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #8080800d;
    font-family: -webkit-pictograph;
  }

  .category_content {
    background: #ffffffb3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 14px;
    width: 100%;
  }

  h1.text_header {
    font-size: 24px;
  }

  p.text_desctiption {
    font-size: 12px;
    font-weight: 600;
    color: black;
  }
  .button_div_shopNow {
    position: relative;
  }

  .button_div_shopNow {
    position: relative;
    width: 100%;
    height: 36px;
  }

  button.shopNow {
    border: navajowhite;
    position: absolute;
    right: 0;
    background: #414141;
    color: white;
    font-family: "Source Sans Pro";
    height: 37px;
    width: 159px;
  }

  button.shopNow:hover {
    background: orange;
  }

  .category_selection_row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: yellowgreen;
    cursor: pointer;
  }

  .category_selection_row:nth-child(1) {
    background: #ff9800;
  }

  .category_selection_row:nth-child(2) {
    background: #ff5722;
  }

  .category_selection_row:nth-child(3) {
    background: #ff8a65;
  }

  .category_selection_row:nth-child(4) {
    background: #ffcc80;
  }

  .category_selection_row:nth-child(5) {
    background: #eeeeee;
  }

  .category_selection_row {
    font-size: 22px;
    padding: 3px;
    display: flex;
    gap: 13px;
    align-content: center;
    justify-content: start;
    align-items: flex-start;
    height: 47px;
  }

  .category_selection_row:hover {
    padding-left: 8px;
    transition: all 1s cubic-bezier(0, 0, 0, 0.98);
  }

  h1.text_header {
    font-size: 24px;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 920px) {
    .category {
      width: 500px !important;
      min-height: 311px;
      padding: 10px;
      margin-bottom: 72px;
      position: relative;
      background-size: cover !important;
      margin: 20px auto;
      padding-bottom: 37px;
      background: #f8f9f7;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #8080800d;
      font-family: -webkit-pictograph;
    }
  }
</style>
