<div class="categories">
  <div
    class="category"
    style="
      background: url(https://organicpositive.in/wp-content/uploads/2020/05/Rice-2.png);
    "
  >
    <div class="category_content">
      <h1 class="text_header">ORGANICALLY GROWN RICE</h1>
      <p class="text_desctiption">
        Our range of rice encompasses everything from Sona Masuri to Basmati
        Rice, all organically grown, nutritious and tasty. Good health every
        day.
      </p>
      <div class="button_div_shopNow">
        <button class="shopNow">SHOP NOW</button>
      </div>
    </div>
  </div>

  <div
    class="category"
    style="
      background: url(https://organicpositive.in/wp-content/uploads/2020/08/Oil-5-1024x544.png);
    "
  >
    <div class="category_content">
      <h1 class="text_header">ORGANICALLY GROWN RICE</h1>
      <p class="text_desctiption">
        Our range of rice encompasses everything from Sona Masuri to Basmati
        Rice, all organically grown, nutritious and tasty. Good health every
        day.
      </p>
      <div class="button_div_shopNow">
        <button class="shopNow">SHOP NOW</button>
      </div>
    </div>
  </div>

  <div
    class="category"
    style="
      background: url(https://organicpositive.in/wp-content/uploads/2020/05/assorted-cooking-spices-2802527-1024x771.jpg);
    "
  >
    <div class="category_content">
      <h1 class="text_header">ORGANICALLY GROWN RICE</h1>
      <p class="text_desctiption">
        Our range of rice encompasses everything from Sona Masuri to Basmati
        Rice, all organically grown, nutritious and tasty. Good health every
        day.
      </p>
      <div class="button_div_shopNow">
        <button class="shopNow">SHOP NOW</button>
      </div>
    </div>
  </div>

  <div class="category">
    <div class="category_selection_row">
      <p class="cat_icon">>></p>
      <p class="cat_text">Seeds</p>
    </div>
    <div class="category_selection_row">
      <p class="cat_icon">>></p>
      <p class="cat_text">Flour</p>
    </div>
    <div class="category_selection_row">
      <p class="cat_icon">>></p>
      <p class="cat_text">Dry fruits</p>
    </div>
    <div class="category_selection_row">
      <p class="cat_icon">>></p>
      <p class="cat_text">Salt</p>
    </div>
  </div>
</div>

<style>
  .categories {
    margin: 0 auto !important;
    width: 73%;

    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 40px !important;
    flex-wrap: wrap;
  }

  .category {
    width: 47%;
    min-height: 311px;
    padding: 10px;
    margin-bottom: 72px;
    position: relative;
    background-size: cover !important;
  }

  .category_content {
    background: #ffffffb3;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
  }

  h1.text_header {
    font-size: 24px;
  }

  p.text_desctiption {
    font-size: 12px;
    font-weight: 600;
    color: black;
  }
  .button_div_shopNow {
    position: relative;
  }

  .button_div_shopNow {
    position: relative;
    width: 100%;
    height: 36px;
  }

  button.shopNow {
    border: navajowhite;
    position: absolute;
    right: 0;
    background: #414141;
    color: white;
    font-family: "Source Sans Pro";
    height: 37px;
    width: 159px;
  }

  button.shopNow:hover {
    background: orange;
  }

  .category_selection_row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: yellowgreen;
    cursor: pointer;
  }
</style>
