<div class="category_selection_section">
  <div class="category_header_section">
    <p>Select Categorys</p>
  </div>
  <div class="category_selection_section_inner">
    <div class="category_div">
      <img src="" alt="" class="cat_img" />
      <p class="category_text">Spices</p>
    </div>
  </div>
</div>
