{% section 'slider' %}
    <div class="company__introduction__div"> 
      <p class="description_text_top">
        In our journey you’ll see a gradual organic progression
      </p>
      <p class="description_text_bottom">
        We like to think of our customers as family. We know that the majority
        of people want to know and care for the environment & health when they
        consume our food. We offer our customers high quality organic and
        natural products from the foothills of Himalayas to exotic north east
        locations. We are excited to be working with farmers to bring the
        product directly to consumers.
      </p>
    </div> 